.coolBg {
	background-image: url("images/matrixbg.jpg") !important;
	background-repeat: repeat !important;
}

@keyframes radiance1 {  
    0% {box-shadow: 0 0 15px #e6dada;} 
    50% {box-shadow: 0 0 45px red;} 
    100% {box-shadow: 0 0 15px #e6dada;} 
}

#oMain a {
	text-decoration: none;
	color: lavender;
	padding-top: 15px;
	transition: all 1s;
}

a:hover {
	text-decoration: none !important;
	transform: scale(1.2);
}

#oItem1 {
	border-radius: 15px;
	animation: radiance1 5s infinite;
}

@keyframes radiance1 {  
    0% {box-shadow: 0 0 15px #e6dada;} 
    50% {box-shadow: 0 0 45px red;} 
    100% {box-shadow: 0 0 15px #e6dada;} 
}

#oItem2 {
	border-radius: 15px;
	animation: radiance2 5s infinite;
}

@keyframes radiance2 {  
    0% {box-shadow: 0 0 15px #e6dada;} 
    50% {box-shadow: 0 0 45px blue;} 
    100% {box-shadow: 0 0 15px #e6dada;} 
}